/* Хлебные крошки */
.breadcrumb {
  background: transparent;
  display: flex;
  margin: 0 -5px;
  padding: 0;
}

.breadcrumb-item {
  line-height: 16px;
  list-style-type: none;
  white-space: nowrap;
  font-size: 1.2rem;
  margin: 0 5px;

  &:after {
    content: '/';
    padding: 0 0 0 11px;
  }

  &:last-child:after {
    content: none;
  }

  a {
    color: $link-blue;
    border-bottom: 1px solid $link-blue;
    transition: border-color 0.03s;
    text-decoration: none;


    &:hover {
      text-decoration: none;
      border-color: transparent;
    }
  }
}
