/* Базовые карточки у bootstrap */
.card__container  {
  display: flex;
  margin: 0 -7.5px;
}

.card {
  box-shadow: $box-shadow-block;
  border: none;
  width: 100%;
  flex-grow: 0;

  .card__container--half & {
    width: calc(100%/2 - 0.75rem);
    margin: 0 7.5px;
  }

  .card__container--part & {
    margin: 0 7.5px;

    &:first-child {
      flex-grow: 1;
    }

    &:last-child {
      width: calc(100%/3 - 0.75rem);
      flex-shrink: 0;
      align-self: flex-start;
    }
  }
}
