/* Формы группы */
.form-content {
  margin: -5px 0;

  p {
    line-height: 18px;
    margin: 5px 0;
  }
}

.form-group-file {
  display: flex;

  label {
    margin: 0;
  }
}

.form-group-file__name {
  flex-grow: 1;
  max-width: 329px;
  background: #e2e6ea;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.25rem;

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    margin: 0 !important;
  }
}
