/* Шапка */

.header {
  position: fixed;
  width: calc(100% - 260px);
  background: #FFFFFF;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: $header-height;


  h3 {
    font-size: 2rem;
    margin: 10px 0;
    font-weight: 400;
  }
}
