/* Общие стили таблицы */
.table {
  background: none !important;

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
  }

  tr {

    th {
      background-color: rgba(221, 235, 247, 1);
    }

    /* Жирная строка */
    &.strong,
    .strong {
      font-weight: bold;
    }

    /* Строка выделенная типа подзаголовок */
    &.bg,
    .bg {
      background-color: rgba(221, 235, 247, 1);
    }

    /* Отступы */


    /* Событие по наведению */
    &:hover,
    & td:hover {
      background-color: rgba(221, 235, 247, 0.5) !important;
    }

    /* Строки без события */
    &.not-hover:hover {
      background-color: transparent;
    }
  }

  th, td {
    border: 1px solid #000;
    line-height: 1.5;
    vertical-align: middle;
    padding: 0.25rem;
    cursor: default;

    &:first-child {
      width: 150px;
    }

    input {
      text-align: center;
      opacity: 1;
      color: #212529;
      width: 100%;

      &[disabled] {
        background: none;
        border: none;
      }
    }
  }
}

.table__unit {
  text-align: right;
}

.table__row {
  display: flex;
}
