/* Общие стили таблицы */
.table {
  background: none!important;

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
  }

  tr {

    /* Жирная строка */
    &.strong {
      font-weight: bold;
    }

    /* Строка выделенная типа подзаголовок */
    &.bg {
      background-color: $table-bg;
    }

    /* Событие по наведению */
    &:hover {
      background-color: $table-hover;
    }

    /* Строки без события */
    &.not-hover:hover {
      background-color: transparent;
    }
  }

  th, td {
    border: 1px solid $border-color;
    line-height: 1.5;
    vertical-align: middle;
    padding: 0.25rem;
  }


}

.table__unit {
  text-align: right;
}
