/* БЛОК для vue-компонента с таблицей */
.v-table {
  background: #D8D8D8;
  width: 100%;

}

/* ЭЛЕМЕНТ заголовков таблицы */
.v-table__head {
  display: grid;
  //grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
}

/* ЭЛЕМЕНТ ячейки у блока заголовков */
.v-table__cell {
  font-size: 13px;
  font-weight: bold;
  padding: 5px;
  background: #E9ECF0;

  &:first-child {
    grid-column: 1 / span 1;
    //grid-row: 1 / span 2;
  }
}

/* ЭЛЕМЕНТ строки у блока тела таблицы */
.v-table__row {
}


