// Body
$body-bg: #f8fafc;

// Shadows
$box-shadow-block: 0 1px 1px 0 rgba(60, 75, 100, .14), 0 2px 1px -1px rgba(60, 75, 100, .12), 0 1px 3px 0 rgba(60, 75, 100, .2);

// Tables
$table-bg: rgba(221, 235, 247);
$table-hover: rgba(60, 75, 100, 0.05);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-icons: 'Fontello', sans-serif;
$font-size-base: 0.9rem;
$font-weight-base: 400;
$line-height-base: 1.6;

// Links
$link-blue: #597FED;
$link-grey: #989898;

// Colors
$main-text-color: #3c4b64;
$green: #36C739;
$yellow: #C1C93F;
$blue: #569ED0;
$purple: #B427D7;
