// HTML
$html-bg: #F1F1F1;
$box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
$line-color: #C3C3C3;

// Typography
$font-family-sans-serif: 'Akrobat', sans-serif;
$font-family-icon: 'Fontello', sans-serif;

// Links
$link-blue: #597FED;
$link-grey: #989898;

// Colors
$green: #36C739;
$yellow: #C1C93F;
$blue: #569ED0;
$purple: #B427D7;




$indigo: #6574cd;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$teal: #4dc0b5;
$cyan: #6cb2eb;
