// HTML
$html-bg: #F8FAFC;
$sidebar-bg: #3C4B64;
$sidebar-menu-bg: rgba(255, 255, 255, 0.05);
$card-bg: rgba(0, 0, 0, .04);

$header-height: 70px;
$select-height: 38px;
$select-multyple-height: 100px;

$box-shadow: 0 1px 1px 0 rgba(60, 75, 100, .14), 0 2px 1px -1px rgba(60, 75, 100, .12), 0 1px 3px 0 rgba(60, 75, 100, .2);
$border-color: rgba(0, 0, 0, .125);


// Typography
$font-family-sans-serif: 'Calibri', sans-serif;
$font-family-icon: 'Fontello', sans-serif;
$font-size-base: 1rem;
$font-weight-base: 400;
$line-height-base: 1.8;
$color: #3C4B64;

// Links
$link-blue: #597FED;
$link-grey: #989898;

// Colors
$green: #36C739;
$yellow: #C1C93F;
$blue: #569ED0;
$purple: #B427D7;


