mixin header
  header.header
    .header__content
    .header__top
      .header__logo
      .header__nav
        a.header__callback(href="") Заказать звонок
      .header__social
    .header__mid

mixin header-article
  header.header.header--article
    .header__content
    .header__top
      .header__logo
      .header__nav
        a.header__callback(href="") Заказать звонок
      .header__social
    .header__mid.header__mid--article
